<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CupFlowCompanionApplication"
        android:allowBackup="false"
        android:label="CupFlow 店长端"
        android:theme="@style/Theme.CupFlowCompanion">
        <activity
            android:name=".RecipeManagementActivity"
            android:exported="false" />
        <activity
            android:name=".IngredientManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ExceptionManagementActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
